.Cart {
  .cart-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    max-width: 70rem;

    .cart-preview {
      flex: 3 1 0;
      max-width: 50rem;
    }

    .sidebar {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: sticky;
      top: 0;
      margin-bottom: auto;
      background: white;
      padding: 1rem;
      flex: 1 1 0;
      box-shadow: 0 0.1rem 0.1rem -0.1rem gray;

      .price-sum {
        font-weight: bold;
        display: block;
        margin-top: 0.5rem;
      }
    }
  }
}
