.NavBar {
  .pi {
    font-size: 1.25rem;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0.1rem 0.1rem -0.1rem gray;
    position: relative;
    z-index: 100;

    .search-input {
      width: 100%;
      max-width: 50%;
      margin: 0 auto;
    }
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem 0;

    .category {
      padding: 1rem;
    }
  }

  .cart-badge {
    position: absolute;
    top: 0.2rem;
    right: 0.4rem;
    margin: 0;
    background: none;
  }
}
