/* Prime React Theme & Icons */
@import "primereact/resources/themes/lara-light-amber/theme.css";
@import "primeicons/primeicons.css";

:root,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
