.Shop {
  display: flex;
  flex-direction: column;

  .article-filters {
    display: flex;
    gap: 1rem 2rem;
    flex-wrap: wrap;
    justify-content: right;
    margin-bottom: 1rem;
  }

  .articles-view {
    align-self: center;
  }

  .no-articles-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .pi {
      font-size: 5rem;
    }
  }
}
